body {
  overflow-x: hidden; /* Hide scrollbars */
}

hr {
	width: 12rem;
	margin-bottom: -1rem;
	margin-top: -1rem;
	color: rgba(0, 0, 0, 0.2);
}

.center {
	width: 16rem;
	display: block;
	margin: auto;
	image-rendering: pixelated;
	border-radius: 2rem;
	margin-top: 6rem;
	margin-bottom: -4rem;
}

.intro {
	margin: -8px;
	margin-top: -8rem;
	padding: 6rem 2rem 2rem;
	background-color: #161616;
	color: whitesmoke;
}

.changelog {
	padding-bottom: 4rem;
}

.download {
	margin: -8px -1rem;
	border-top-left-radius: 10rem;
	border-top-right-radius: 10rem;
	padding-top: 0.5rem;
	padding-bottom: 12rem;
	background-image: linear-gradient(to bottom right, rgb(255, 208, 182), rgb(255, 189, 255), rgb(150, 211, 255));

	h2 {
		font-size: 32px;
	}

	a:hover {
		font-size: 1.01rem;
	}
}
