.navbar {
  height: 60px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 65px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  display: block;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
  background-color: hsla(0, 0%, 35%, 0.2);
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(36, 36, 36, 0.6);
}

.navbar .logo {
    width: 5rem;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 4em;
}

.navbar ul li {
  display: inline;
  text-decoration: none;
}

.navbar ul li a {
  padding: 0.25em 1em 0.25em 1em;
}