@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

$background-color: #1d1d1d;
$font-color: hsla(0, 0%, 90%);
$unselected-color: hsl(0, 0%, 65%);

html {
	background: $background-color;
	background-image: url('$lib/assets/background.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.zain-extralight {
	font-family: 'Zain', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.zain-light {
	font-family: 'Zain', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.zain-regular {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.zain-bold {
	font-family: 'Zain', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.zain-extrabold {
	font-family: 'Zain', sans-serif;
	font-weight: 800;
	font-style: normal;
}

.zain-black {
	font-family: 'Zain', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.zain-light-italic {
	font-family: 'Zain', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.zain-regular-italic {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.funnel-display {
	font-family: 'Funnel Display', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
	color: $font-color;
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-optical-sizing: auto;
	text-shadow: 2px 2px 10px $background-color;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}

h1 {
	font-size: 4rem;
	padding-top: 2rem;
}

a {
	color: $unselected-color;
	text-decoration: none;

	&:hover,
	&.current {
		color: $font-color;
		transition-duration: 0.1s;
	}
}

img {
	filter: drop-shadow(4px 4px 20px $background-color);
}
