@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

html {
	background: #1d1d1d;
	background-image: url('$lib/assets/background.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.zain-extralight {
	font-family: 'Zain', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.zain-light {
	font-family: 'Zain', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.zain-regular {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.zain-bold {
	font-family: 'Zain', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.zain-extrabold {
	font-family: 'Zain', sans-serif;
	font-weight: 800;
	font-style: normal;
}

.zain-black {
	font-family: 'Zain', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.zain-light-italic {
	font-family: 'Zain', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.zain-regular-italic {
	font-family: 'Zain', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.funnel-display {
	font-family: 'Funnel Display', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
	color: hsla(0, 0%, 100%, 0.84);
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-optical-sizing: auto;
	text-shadow: 2px 2px 10px #1d1d1d;
}

h1 {
	font-size: 4rem;
	padding-top: 2rem;
}

a {
	color: hsla(0, 0%, 100%, 0.84);
	text-decoration: none;
}

a:hover {
	color: hsl(0, 0%, 65%);
	transition-duration: 0.15s;
}

img {
	filter: drop-shadow(4px 4px 20px #1d1d1d);
}

.navbar {
	height: 60px;
	width: 80vw;
	margin: 0 auto;
	margin-top: 65px;
	padding-left: 1em;
	padding-right: 1em;
	box-sizing: border-box;
	display: block;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	position: relative;
	background-color: hsla(0, 0%, 35%, 0.2);
	display: flex;
	align-items: center;
	justify-content: left;
	position: relative;
	z-index: 2;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(36, 36, 36, 0.6);
}

.navbar .logo {
	width: 8rem;
	padding-right: 2rem;
}

.navbar .logo img {
	width: 8rem;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 4em;
}

.navbar ul li {
	display: inline;
	text-decoration: none;
}

.navbar ul li a {
	padding: 0.25em 1em 0.25em 1em;
}
